<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css"/>

        <script src="js/script.js">
            
        </script>
        <style> .fr{
            margin-right: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 10px;
        } 
        </style>
</head>
<body>
        
    <div class="mydiv">   
        
  
            <div class="container">


                    <div class="jumbotron">
                            <h2>large</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit incidunt modi, debitis aliquid dolores error molestias nostrum dignissimos voluptatibus impedit eaque culpa delectus. Ea explicabo ipsa a itaque enim. Deleniti.</p>
                        </div>
                        <form>
                           
                    <div class="card bg-dark text-white">
                   
                            <div class="fr">
                    <div class="row">
                        <div class="col-sm-4">OPERAND1</div>
                        <div class="col-sm-6"> 
                            <div class="col-sm-4">
                                <input type="number" id="op8"/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                            <div class="col-sm-4">OPERAND2</div>
                            <div class="col-sm-6"> 
                                <div class="col-sm-4">
                                    <input type="number" id="op9"/>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                                <div class="col-sm-4">OPERAND3</div>
                                <div class="col-sm-6"> 
                                    <div class="col-sm-4">
                                        <input type="number" id="op11"/>
                                    </div>
                                </div>
                            </div>
                            <br>

                        
                </form> 
                    <div class="row">
                        <div class="col-sm-4"></div>
                             <div class="col-sm-4">                 
                                <button class="btn btn-light" type="button" onclick="read3();" >large</button>   
                                <button class="btn btn-light" type="button" onclick="read4();" >small</button>              
                             </div>
                             <br>
                             
                        </div>
                        <div class="row">
                                <div class="col-sm-4"></div>
                                     <div class="col-sm-2"><p id="result"> is the result</p></div> 
                                     <div class="col-sm-2"><p id="result1"> is the result</p></div>                 
                        </div>
                    </div>
                           </div> 
                   </div>
    </div>

</body>
</html>
                                  