{% extends 'layout.html' %}

{% block mycontent %}
<form method="POST" action="/send">
<div class="card bg-secondary text-white" style="width: 25rem;height: 35rem;margin-left:280px;margin-right:30px;margin-top:100px;margin-bottom:30px;"></div>
    <h2 style="align:center"><abbr>Contactus</abbr></h2>
    <table style="margin-left:70px;margin-right:30px;margin-top:30px;margin-bottom:30px;">
    <tr>
        <td><input type="text" name="name" id="name" placeholder="NAME"></td>
    </tr>
    <tr>
        <td><input type="email" name="email" id="email" placeholder="EMAIL_ID"></td>
    </tr>
    <tr>
        <td><input type="number" name="mobile" id="mobile" placeholder="MOBILE NUMBER"></td>
    </tr>
    <tr>
        <td><textarea type="text" rows="5" name="address" id="address" placeholder="ADDRESS"></textarea></td>
    </tr>
    <tr>
        <td><input type="text" name="subject" id="subject" placeholder="SUBJECT"></td>
    </tr>
    <tr>
        
        <td><textarea type="text" name="message" rows="5"  id="message" placeholder="MESSAGE"></textarea></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" type="submit" id="btn-dark">submit</button></td>
    </tr>
</table>
</div>
</form>

{% endblock %}