{% extends 'layout.html' %}

{% block mycontent %}
<b><h1>MKM Solutions&reg;</h1></b>
<div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;margin-bottom:150px">
    <img src="/templates/ict.png"  style="width:10%">
    <div class="container">
      
      <p>has been established as a service provider company. Our traditional business model is based on the accomplishment of properties in the real estate markets in Maharashtra. Based on the decision of the company to diversify our services; we have now established this corporation in Pune. There is a great need for certified or official Service providers like us in the future to deal with some real estate management. In addition to real estate management, the company has provided its services in different sectors like finance management, sales & marketing, business concepts, corporate solutions, event entertainment & hospitality etc.</p>
    </div>
  </div> 
{% endblock %}